# 🚀 Ignorar entorno virtual
venv/
.venv/

# 🐍 Archivos y carpetas temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 📄 Variables de entorno y secretos
.env

# 🛠️ Configuraciones locales de editores
.vscode/
.idea/
*.code-workspace

# 🗑️ Otros archivos innecesarios
.DS_Store
Thumbs.db
