# 🚀 Ignorar entorno virtual
venv/
.venv/

# 🐍 Archivos y carpetas temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Dependencias
node_modules/



# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# 🛠️ Configuraciones locales de editores
.vscode/
.idea/
*.code-workspace

# 🗑️ Otros archivos innecesarios
.DS_Store
Thumbs.db
